
<div id="game"></div>
<div class="main-menu" style="display: none;">
  <!-- <img class="logo-ball" src={LogoBall} /> -->
  <mat-icon class="logo-ball" svgIcon="logo_ball_stroke"></mat-icon>
  <!-- <img class="wordmark" src={Wordmark} /> -->
  <mat-icon class="wordmark" svgIcon="wordmark"></mat-icon>
  <div class="main-menu-button" (click)="setIsInGame(true)">
    Play
  </div>

  <ng-template *ngIf="isSettings; else isnotSettings">
    <div class="main-menu-button" (click)="setIsSettings(true)">
      Settings
    </div>
  </ng-template>
  <ng-template #isnotSettings>
    <div class="main-menu-section-title">Mode</div>
    <div class="main-menu-selection-area">
      <div
        class="main-menu-selection"
        [class.main-menu-selected]="mode==='random'"
        (click)="setMode('random')"
      >
        Random
      </div>
      <div
        class="main-menu-selection"
        [class.main-menu-selected]="mode==='tour'"
        (click)="setMode('tour')"
      >
        Tour
      </div>
      <div
        class="main-menu-selection"
        [class.main-menu-selected]="mode==='adventure'"
        (click)="setMode('adventure')"
      >
        Adventure
      </div>
    </div>

    <ng-template *ngIf="mode === 'random'">
        <div class="main-menu-section-title">Difficulty</div>
        <div class="main-menu-selection-area">
          <div
            class="main-menu-selection"
            [class.main-menu-selected]="difficulty===1"

            (click)="
              setDifficulty(1);
              setLocalStorage('difficulty', 1);
            "
          >
            Easy
          </div>
          <div
            class="main-menu-selection"
          [class.main-menu-selected]="difficulty===3"
          (click)="
              setDifficulty(3);
              setLocalStorage('difficulty', 3);
            "
          >
            Medium
          </div>
          <div
            class="main-menu-selection"
          [class.main-menu-selected]="difficulty===5"
          (click)="
              setDifficulty(5);
              setLocalStorage('difficulty', 5);
            "
          >
            Hard
          </div>
          <div
            class="main-menu-selection"
          [class.main-menu-selected]="difficulty===10"
          (click)="
              setDifficulty(10);
              setLocalStorage('difficulty', 10);
            "
          >
            Evil
          </div>
        </div>

        <div class="main-menu-section-title">Number of Blocks</div>
        <div class="main-menu-selection-area">
          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===5"

            (click)="
              setBlocksCount(5);
              setLocalStorage('blocksCount', 5);
            "
          >
            5
          </div>
          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===10"
            (click)="
              setBlocksCount(10);
              setLocalStorage('blocksCount', 10);
            "
          >
            10
          </div>

          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===15"
            (click)="
              setBlocksCount(15);
              setLocalStorage('blocksCount', 15);
            "
          >
            15
          </div>
          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===20"
            (click)="
              setBlocksCount(20);
              setLocalStorage('blocksCount', 20);
            "
          >
            20
          </div>
          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===30"
            (click)="
              setBlocksCount(30);
              setLocalStorage('blocksCount', 30);
            "
          >
            30
          </div>
          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===40"
            (click)="
              setBlocksCount(40);
              setLocalStorage('blocksCount', 40);
            "
          >
            40
          </div>
          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===50"
            (click)="
              setBlocksCount(50);
              setLocalStorage('blocksCount', 50);
            "
          >
            50
          </div>
          <div
            class="main-menu-selection main-menu-selection-short"
            [class.main-menu-selected]="blocksCount===100"
            (click)="
              setBlocksCount(100);
              setLocalStorage('blocksCount', 100);
            "
          >
            100
          </div>
        </div>
    </ng-template>

    <ng-template *ngIf="mode === 'tour'">
      <div class="main-menu-section-title">Difficulty</div>
      <div class="main-menu-selection-area">
        <div
          class="main-menu-selection"
          [class.main-menu-selected]="difficulty===1"

          (click)="
            setDifficulty(1);
            setLocalStorage('difficulty', 1);
          "
        >
          Easy
        </div>
        <div
          class="main-menu-selection"
          [class.main-menu-selected]="difficulty===3"
          (click)="
            setDifficulty(3);
            setLocalStorage('difficulty', 3);
          "
        >
          Medium
        </div>
        <div
          class="main-menu-selection"
          [class.main-menu-selected]="difficulty===5"
          (click)="
            setDifficulty(5);
            setLocalStorage('difficulty', 5);
          "
        >
          Hard
        </div>
        <div
          class="main-menu-selection"
          [class.main-menu-selected]="difficulty===10"
          (click)="
            setDifficulty(10);
            setLocalStorage('difficulty', 10);
          "
        >
          Evil
        </div>
      </div>

      <div class="main-menu-section-title">Beach</div>
      <div class="main-menu-selection-area">
        <div
          class="main-menu-selection"
          [class.main-menu-selected]="level==='copacabana'"

          (click)="
            setLevel('copacabana');
            setLocalStorage('level', 'copacabana');
          "
        >
          Copacabana
        </div>
        <div
          class="main-menu-selection"
          [class.main-menu-selected]="level==='santamonica'"
          (click)="
            setLevel('santamonica');
            setLocalStorage('level', 'santamonica');
          "
        >
          Santa Monica
        </div>
      </div>
      <div class="coming-soon">More beaches coming soon!</div>
    </ng-template>

    <ng-template *ngIf="mode === 'adventure'">
      <div class="coming-soon">Coming soon!</div>
    </ng-template>
  </ng-template>

  <div class="main-menu-about-section">
    <div class="main-menu-about">
      <a href="https://github.com/michaelkolesidis/beachy-beachy-ball">
        © 2023 Michael Kolesidis.
      </a>
    </div>
    <div class="main-menu-about">
      <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">
        Licensed under the GNU AGPL 3.0
      </a>
    </div>
  </div>
  <a href="https://michaelkolesidis.com" target="_blank">
    <!-- <img
      class="author-logo"
      src={MichaelLogo}
      alt="Author's logo"
    > -->
    <mat-icon class="author-logo" svgIcon="mm_white" alt="Author's logo"></mat-icon>
  </a>
</div>