<div class="interface">
  <!-- Logo -->
  <mat-icon class="logo-ball" svgIcon="logo_ball_stroke"></mat-icon>
  <!-- Restart -->

  <ng-container *ngIf="phase === 'ended'">
    <div class="restart">
      <div class="finished">Finished!</div>
      <img
        src="./icons/replay.png"
        class="restart-button"
        (click)="restart()"
      />
      <div>Play Again</div>
    </div>
  </ng-container>
  <!-- Control Buttons (top-right) -->
  <div class="control-buttons">
    <div class="control-button" id="sound" (click)="toggleAudio()">
        <mat-icon svgIcon="icon_sound_on" *ngIf="settings.audio"></mat-icon>
        <mat-icon svgIcon="icon_sound_off" *ngIf="!settings.audio"></mat-icon>
    </div>
    <div
      class="control-button"
      id="menu"
      (click)="setIsModalOpen(!isModalOpen)"
    >
      <mat-icon svgIcon="icon_menu"></mat-icon>
    </div>
  </div>
  <!-- Bottom -->
  <div class="bottom">
    <!-- Controls -->
    <div class="controls">
      <!-- Mode -->
      <div class="bottom-label">Mode</div>
      <div class="mode">{{settings.mode}}</div>
      <!-- <div class="raw">
        <div class={`key ${forward ? "active" : ""}`}></div>
      </div>
      <div class="raw">
        <div class={`key ${leftward ? "active" : ""}`}></div>
        <div class={`key ${backward ? "active" : ""}`}></div>
        <div class={`key ${rightward ? "active" : ""}`}></div>
      </div>
      <div class="raw">
        <div class={`key large ${jump ? "active" : ""}`}></div>
      </div> -->
    </div>
    <!-- Time -->
    <div class="bottom-right">
      <div class="time-container">
        <div class="bottom-label">Time</div>
        <div class="time" [innerHTML]="time"></div>
        <!-- <div class="mode">{mode}</div> -->
      </div>
    </div>
  </div>
  <!-- Modal -->

  <ng-container *ngIf="isModalOpen">
    <div class="modal" (click)="setIsModalOpen(false)">
      <div class="modal-box" > <!-- onClick={(e) => e.stopPropagation()}-->
        <div class="modal-title">Menu</div>

        <div class="modal-main">
          <div class="section-title">Mode</div>
          <div class="mode-area">
            
          <ng-container  *ngFor=" let mode of modes;  let i=index">
          <div
            key={{mode.id}}
            class="mode-selection" 
            [ngClass]="{'selected-mode': settings.mode === mode.name}"
            (click)="handleModeClick(mode.name);"
          >
            {{mode.text}}
          </div>
          </ng-container>

          </div>
          <div
            class="modal-button disabled"
          >
            High Scores
          </div>
          <div
            class="modal-button"
            (click)="clearData()"
          >
            Clear Data
          </div>
          <div
            class="modal-button disabled"
          >
            Help
          </div>
          <div
            class="modal-button disabled"
          >
            Credits
          </div>
          <div
            class="modal-button"
            (click)="setIsInGame(false);"
          >
            Main Menu
          </div>
          <div
            class="modal-button"
            (click)="setIsModalOpen(false);"
          >
            Back
          </div>
        </div>
        <div class="modal-about-area">
          <div class="modal-about">
            <a href="https://github.com/michaelkolesidis/beachy-beachy-ball">
              © 2023 Michael Kolesidis.
            </a>
          </div>
          <div class="modal-about">
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">
              Licensed under the GNU AGPL 3.0
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>