@font-face {
  font-family: "Nickname";
  src: url("/fonts/nickname.otf");
}

/***********/
/* GENERAL */
/***********/
:root {
  --white: rgb(255, 255, 255);
  --black: rgb(30, 30, 30);
  --blue: #00bfff;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  font-family: "Nickname", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  color: var(--white);
  background: var(--blue);
  overflow: hidden;
}